.Profile-Side-Container {
    display: block;
    margin: 0;
    height: 95vh;
}

.Profile-Top-Container {
    display: flex;
    background-color: pink;
    justify-content: space-between;
    padding: 10px;
    height: 15vh;
}

.Profile-Body {
    margin: 1rem;
}

.Profile-Top-Navigation {  
    width: 100px;
    padding-top: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.Profile-Top-Navigation-Label {
    font-size: 0.8rem;
    text-align: right;
    padding-bottom: 5px;
}